jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.1
      - run: dotnet build
  
  test:
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.1
      - run: dotnet test

  # analyze:
  # package:
  # deploy:

name: cibuild

on: push

# person: # object
#   firstName: 'fred' # string
#   lastName: 100 # number
#   middlename: true # boolean
#   alias: # collection
#     - 'dotnet'
#     - 'lead'
#     - subAlias:
